.name-pers-info {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

.insert {
    display: flex;
    flex-direction: column;
}

.input-name {
    width: 200px;
    padding: 4px;
}

.input-pers-info {
    width: 400px;
    padding: 4px;
}